  <table border=1 >
  <tr>
    <th>ROBOT HAREKETLERİ</th>
    <th>KAMERA HAREKETLERİ</th>
  </tr>
  <tr>
    <td>
    <table>
    <tr>
      <input type="text" name="AdimBoyu" id='AdimBoyu' value="0.001">
      <button type='button' name="adimBoyuGonder" id='adimBoyuGonder'>Send</button>

    </tr>
      <th>ADIM</th>
      <th>HIZ</th>
    <tr>
    </tr>
    <tr>
      <td><input type="text" name="Adim" id='Adim' value="30"></td>
      <td><input type="text" name="Hiz" id='Hiz' value="200"></td>
    </tr>
    </table>
    </td>
    <td>
      <table>
      <tr>
        <input type="text" name="AciAdim" id='AciAdim' value="10">
      </tr>
      <tr>
        <th>TILT</th>
        <th>PAN</th>
      </tr>
      <tr>
        <td><output name="TiltAci" id='TiltAci'></output</td>
        <td><output name="PanAci"  id='PanAci' ></output></td>
      </tr>	
      </table>
    </td>
  </tr>
  <tr>
  <td align="center">
        <table>
    <tr>
            <td></td><td><button type='button' id='ileri' width=75px>İleri</button></td><td></td>
          </tr>
          <tr>
                <td><button type='button' id='sol' width=75px>Sol</button></td>
                <td><button type='button' id='dur' width=75px>Dur</button></td>
                <td><button type='button' id='sag' width=75px>Sağ</button></td>
          </tr>
          <tr>
                <td></td><td><button type='button' id='geri' width=75px>Geri</button></td><td></td>
          </tr>
  </table>        
  </td>
  <td align="center">
    <table>
            <tr>
                    <td></td><td><button type='button' id='camyukari' width=75px onclick="TiltAci.value=parseInt(TiltAci.value)+parseInt(AciAdim.value)">Yukarı</button></td><td></td>
            </tr>
            <tr>
                    <td><button type='button' id='camsol' width=75px onclick="PanAci.value=parseInt(PanAci.value)-parseInt(AciAdim.value)">Sol</button></td>
                    <td><button type='button' id='cammerkez' width=75px onclick="PanAci.value=0;TiltAci.value=0">Merkez</button></td>
                    <td><button type='button' id='camsag' width=75px onclick="PanAci.value=parseInt(PanAci.value)+parseInt(AciAdim.value)">Sağ</button></td>
            </tr>
            <tr>
                    <td></td><td><button type='button' id='camasagi' width=75px onclick="TiltAci.value=parseInt(TiltAci.value)-parseInt(AciAdim.value)">Aşağı</button></td><td></td>
            </tr>
    </table>
  </td>
  </tr>
  </table>